﻿<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <title>@ViewBag.Title | eCOMM</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="~/Content/styles/webfont.css">
    <link rel="stylesheet" href="~/Content/styles/climacons-font.css">
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/styles/font-awesome.css">
    <link rel="stylesheet" href="~/Content/styles/card.css">
    <link rel="stylesheet" href="~/Content/styles/sli.css">
    <link rel="stylesheet" href="~/Content/styles/animate.css">
    <link rel="stylesheet" href="~/Content/styles/app.css">
    <link rel="stylesheet" href="~/Content/styles/app.skins.css">
    <link rel="stylesheet" href="~/Content/vendor/sweetalert/dist/sweetalert.css">
</head>
<body class="page-loading">
    <!-- page loading spinner -->
    <div class="pageload">
        <div class="pageload-inner">
            <div class="sk-rotating-plane"></div>
        </div>
    </div>
    @RenderBody()
    <!-- /bottom footer -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- build:js({.tmp,app}) scripts/app.min.js -->
    <script src="~/Scripts/scripts/helpers/modernizr.js"></script>
    <script src="~/Scripts/vendor/jquery/dist/jquery.js"></script>
    <script src="~/Scripts/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/vendor/fastclick/lib/fastclick.js"></script>
    <script src="~/Scripts/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/Scripts/scripts/helpers/smartresize.js"></script>
    <script src="~/Scripts/scripts/constants.js"></script>
    <script src="~/Scripts/scripts/main.js"></script>
    <!-- endbuild -->
    <!-- page scripts -->
    <script src="~/Scripts/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/scripts/ui/alert.js"></script>
    <!-- end initialize page scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>