﻿<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
    <base href="@Url.Action("Index", "Home")"></base>
    <title>@ViewBag.Title | eCOMM</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    @RenderSection("styles", required: false)
    <link rel="stylesheet" href="~/Content/styles/webfont.css">
    <link rel="stylesheet" href="~/Content/styles/climacons-font.css">
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/styles/font-awesome.css">
    <link rel="stylesheet" href="~/Content/styles/card.css">
    <link rel="stylesheet" href="~/Content/styles/sli.css">
    <link rel="stylesheet" href="~/Content/styles/animate.css">
    <link rel="stylesheet" href="~/Content/vendor/sweetalert/dist/sweetalert.css">
    <link rel="stylesheet" href="~/Content/styles/app.css">
    <link rel="stylesheet" href="~/Content/styles/app.skins.css">
    <link rel="stylesheet" href="~/Content/custom.css">
</head>
<body class="page-loading">
    <!-- page loading spinner -->
    <div class="pageload">
        <div class="pageload-inner">
            <div class="sk-rotating-plane"></div>

        </div>
    </div>
    <!-- /page loading spinner -->
    <div class="app layout-fixed-header">
        <!-- sidebar panel -->
        <div class="sidebar-panel offscreen-left">
            <div class="brand">
                <!-- toggle small sidebar menu -->
                <a href="javascript:;" class="toggle-apps hidden-xs" data-toggle="quick-launch">
                    <i class="icon-grid"></i>
                </a>
                <!-- /toggle small sidebar menu -->
                <!-- toggle offscreen menu -->
                <div class="toggle-offscreen">
                    <a href="javascript:;" class="visible-xs hamburger-icon" data-toggle="offscreen" data-move="ltr">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <!-- /toggle offscreen menu -->
                <!-- logo -->
                <a class="brand-logo">
                    <span>Reactor</span>
                </a>
                <a href="#" class="small-menu-visible brand-logo">R</a>
                <!-- /logo -->
            </div>
            <ul class="quick-launch-apps hide">
                <li>
                    <a href="apps-gallery.html">
                        <span class="app-icon bg-danger text-white">
                            G
                        </span>
                        <span class="app-title">Gallery</span>
                    </a>
                </li>
                <li>
                    <a href="apps-messages.html">
                        <span class="app-icon bg-success text-white">
                            M
                        </span>
                        <span class="app-title">Messages</span>
                    </a>
                </li>
                <li>
                    <a href="apps-social.html">
                        <span class="app-icon bg-primary text-white">
                            S
                        </span>
                        <span class="app-title">Social</span>
                    </a>
                </li>
                <li>
                    <a href="apps-travel.html">
                        <span class="app-icon bg-info text-white">
                            T
                        </span>
                        <span class="app-title">Travel</span>
                    </a>
                </li>
            </ul>
            <!-- main navigation -->
            <nav role="navigation">
                @Html.Partial("_SideBar")
            </nav>
            <!-- /main navigation -->
        </div>
        <!-- /sidebar panel -->
        <!-- content panel -->
        <div class="main-panel">
            <!-- top header -->
            <div class="header navbar">
                <div class="brand visible-xs">
                    <!-- toggle offscreen menu -->
                    <div class="toggle-offscreen">
                        <a href="javascript:;" class="hamburger-icon visible-xs" data-toggle="offscreen" data-move="ltr">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <!-- /toggle offscreen menu -->
                    <!-- logo -->
                    <a class="brand-logo">
                        <span>REACTOR</span>
                    </a>
                    <!-- /logo -->
                </div>
                <ul class="nav navbar-nav hidden-xs">
                    <li>
                        <a href="javascript:;" class="small-sidebar-toggle ripple" data-toggle="layout-small-menu">
                            <i class="icon-toggle-sidebar"></i>
                        </a>
                    </li>
                    <li class="searchbox">
                        <a href="javascript:;" data-toggle="search">
                            <i class="search-close-icon icon-close hide"></i>
                            <i class="search-open-icon icon-magnifier"></i>
                        </a>
                    </li>
                    <li class="navbar-form search-form hide">
                        <input type="search" class="form-control search-input" placeholder="Start typing...">
                        <div class="search-predict hide">
                            <a href="#">Searching for 'purple rain'</a>
                            <div class="heading">
                                <span class="title">People</span>
                            </div>
                            <ul class="predictive-list">
                                <li>
                                    <a class="avatar" href="#">
                                        <img src="~/Content/images/face1.jpg" class="img-circle" alt="">
                                        <span>Tammy Carpenter</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="avatar" href="#">
                                        <img src="~/Content/images/face2.jpg" class="img-circle" alt="">
                                        <span>Catherine Moreno</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="avatar" href="#">
                                        <img src="~/Content/images/face3.jpg" class="img-circle" alt="">
                                        <span>Diana Robertson</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="avatar" href="#">
                                        <img src="~/Content/images/face4.jpg" class="img-circle" alt="">
                                        <span>Emma Sullivan</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="heading">
                                <span class="title">Page posts</span>
                            </div>
                            <ul class="predictive-list">
                                <li>
                                    <a class="avatar" href="#">
                                        <img src="~/Content/images/unsplash/img2.jpeg" class="img-rounded" alt="">
                                        <span>The latest news for cloud-based developers </span>
                                    </a>
                                </li>
                                <li>
                                    <a class="avatar" href="#">
                                        <img src="~/Content/images/unsplash/img2.jpeg" class="img-rounded" alt="">
                                        <span>Trending Goods of the Week</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right hidden-xs">
                    <li>
                        <a href="javascript:;" class="ripple" data-toggle="dropdown">
                            <span>EN</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:;">English</a>
                            </li>
                            <li>
                                <a href="javascript:;">Russian</a>
                            </li>
                            <li>
                                <a href="javascript:;">French</a>
                            </li>
                            <li>
                                <a href="javascript:;">Spanish</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" class="ripple" data-toggle="dropdown">
                            <i class="icon-bell"></i>
                        </a>
                        <ul class="dropdown-menu notifications">
                            <li class="notifications-header">
                                <p class="text-muted small">You have 3 new messages</p>
                            </li>
                            <li>
                                <ul class="notifications-list">
                                    <li>
                                        <a href="javascript:;">
                                            <div class="notification-icon">
                                                <div class="circle-icon bg-success text-white">
                                                    <i class="icon-bulb"></i>
                                                </div>
                                            </div>
                                            <span class="notification-message"><b>Sean</b> launched a new application</span>
                                            <span class="time">2s</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="notification-icon">
                                                <div class="circle-icon bg-danger text-white">
                                                    <i class="icon-cursor"></i>
                                                </div>
                                            </div>
                                            <span class="notification-message"><b>Removed calendar</b> from app list</span>
                                            <span class="time">4h</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="notification-icon">
                                                <div class="circle-icon bg-primary text-white">
                                                    <i class="icon-basket"></i>
                                                </div>
                                            </div>
                                            <span class="notification-message"><b>Denise</b> bought <b>Urban Admin Kit</b></span>
                                            <span class="time">2d</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <div class="notification-icon">
                                                <div class="circle-icon bg-info text-white">
                                                    <i class="icon-bubble"></i>
                                                </div>
                                            </div>
                                            <span class="notification-message"><b>Vincent commented</b> on an item</span>
                                            <span class="time">2s</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="notification-icon">
                                                <img src="~/Content/images/face3.jpg" class="avatar img-circle" alt="">
                                            </span>
                                            <span class="notification-message"><b>Jack Hunt</b> has <b>joined</b> mailing list</span>
                                            <span class="time">9d</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        @{
                            var claimsIdentity = User.Identity as System.Security.Claims.ClaimsIdentity;
                            var identity = (System.Security.Claims.ClaimsPrincipal)System.Threading.Thread.CurrentPrincipal;
                            var sid = identity.Claims.Where(c => c.Type == System.IdentityModel.Claims.ClaimTypes.Sid).Select(c => c.Value).SingleOrDefault();
                            var imageFilename = identity.Claims.Where(c => c.Type == System.IdentityModel.Claims.ClaimTypes.Thumbprint).Select(c => c.Value).SingleOrDefault();
                        }
                        <a href="javascript:;" class="ripple" data-toggle="dropdown">
                            @if (!String.IsNullOrEmpty(imageFilename))
                            {
                                <img src="@Url.Content(String.Format("~/Files/Images/{0}", imageFilename))" class="header-avatar img-circle" alt="user" title="user">
                            }
                            else
                            {
                                <img src="~/Content/images/avatar.jpg" class="header-avatar img-circle" alt="user" title="user">
                            }
                            <span>@claimsIdentity.Name.ToString()</span>
                            <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li>
                                @{
                                    @Html.ActionLink("Profile", "Profile", "Account", new { id = sid }, new { })
                                }
                            </li>
                            <li>
                                <a href="javascript:;">Settings</a>
                            </li>
                            <li>
                                <a href="javascript:;">Upgrade</a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <span class="label bg-danger pull-right">34</span>
                                    <span>Notifications</span>
                                </a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="javascript:;">Help</a>
                            </li>
                            <li>
                                <a href='@Url.Action("Logout", "Account")'>Logout</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="javascript:;" class="ripple" data-toggle="layout-chat-open">
                            <i class="icon-user"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main-content">
                @RenderBody()
            </div>
        </div>

        <!-- bottom footer -->
        <footer class="content-footer">
            <nav class="footer-right">
                <ul class="nav">
                    <li>
                        <a href="javascript:;">Feedback</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="scroll-up">
                            <i class="fa fa-angle-up"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="footer-left hidden-xs">
                <ul class="nav">
                    <li>
                        <a href="javascript:;"><span>About</span> Reactor</a>
                    </li>
                    <li>
                        <a href="javascript:;">Privacy</a>
                    </li>
                    <li>
                        <a href="javascript:;">Terms</a>
                    </li>
                    <li>
                        <a href="javascript:;">Help</a>
                    </li>
                </ul>
            </nav>
        </footer>
    </div>

    <!-- /bottom footer -->
    <script src="~/Scripts/scripts/helpers/modernizr.js"></script>
    <script src="~/Scripts/vendor/jquery/dist/jquery.js"></script>
    <script src="~/Scripts/vendor/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/Scripts/vendor/fastclick/lib/fastclick.js"></script>
    <script src="~/Scripts/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/Scripts/scripts/helpers/smartresize.js"></script>
    <script src="~/Scripts/scripts/constants.js"></script>
    <script src="~/Scripts/scripts/main.js"></script>
    <!-- endbuild -->
    <!-- page scripts -->
    <!-- end initialize page scripts -->
    <script src="~/Scripts/vendor/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/Scripts/scripts/ui/alert.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>