﻿<ul class="nav">
    <li>
        <a href="index.html">
            <i class="icon-compass"></i>
            <span><a href='@Url.Action("Index", "Home")'>Dashboard</a></span>
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <i class="icon-tag"></i>
            <span>Products</span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="@Url.Action("Index", "Option")">
                    <span>Options</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
