﻿<p style="font: normal 13px Arial;">
    Verify your email address 
    <br>
    To finish setting up this eCOMM account.
</p>
<br>
<a style="font: bold 15px Arial; text-decoration: none; background-color: #488f3e; color: #fff; padding: 2px 6px 2px 6px; border-top: 1px solid #CCCCCC; cursor: pointer; border-right: 1px solid #333333; border-bottom: 1px solid #333333; border-left: 1px solid #CCCCCC;"
   href="{verifyUrl}">
<span>Verify {email}</span></a>