﻿@model eCOMM.Models.Account.ChangePasswordModel

@{
    ViewBag.Title = "Profile";
}

<div class="page-title">
    <div class="title">Change Password</div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card bg-white no-border">
            <div class="card-block">
                <div class="row m-a-0">
                    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { id = "passwordForm", @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(model => model.Id)
                        @Html.ValidationSummary(true)
                        @Html.HiddenFor(model => model.IsSuccess)
                        <div class="form-group">
                            @Html.LabelFor(model => model.OldPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", placeholder = "Old Password" })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", placeholder = "New Password" })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <hr class="clearfix" />
                                <input type="submit" value="Save Changes" class="btn btn-primary" />
                                @Html.ActionLink("Cancel", "Profile", "Account", new { id = Model.Id }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script src="~/Scripts/Account/profile.js"></script>
}

<script>
    $(document).ready(function () {
        var isSuccess = $('#IsSuccess').val();
        if (isSuccess === 'True') {
            swal({
                title: "Success!",
                text: "Password successfully changed!",
                type: "success"
            },
            function () {
                window.location.href = "@Url.Action("Index", "Account")";
            });
        }
    });
</script>
