﻿@model eCOMM.Models.Account.ForgotPassModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<div class="app forgot-password usersession">
    <div class="session-wrapper">
        <div class="page-height row-equal align-middle">
            <div class="column">
                <div class="card bg-white no-border">
                    <div class="card-block">
                        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "forgotPassForm", @class = "form-layout" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
 @Html.HiddenFor(model => model.IsSuccess)
                            <div class="text-center m-b">
                                <h4 class="text-uppercase">Reset Password</h4>
                            </div>

                            <div class="form-inputs">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "text-uppercase" })
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg", placeholder = "Email address" })
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Reset Password</button>
                        }
                    </div>
                    <a href="@Url.Action("Login", "Account")" class="bottom-link">Login instead.</a>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var isSuccess = $('#IsSuccess').val();
            if (isSuccess === 'True') {
                swal({
                    title: "Success!",
                    text: "A new password was sent to your email!",
                    type: "success"
                },
                function () {
                    window.location.href = "@Url.Action("Login", "Account")";
                });
            }
        });
    </script>
