﻿@model IEnumerable<eCOMM.Models.Account.UserListViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card no-border bg-white">
    <div class="card-header">Users</div>
    <div class="card-block">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@Html.ActionLink(user.FirstName + " " + user.LastName, "Profile", "Account", new { id = user.Id }, null)</td>
                        <td>@user.Email</td>
                        <td>@user.Phone</td>
                        <td>@Html.ActionLink("edit", "Profile", "Account", new { id = @user.Id }, null)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


