﻿@model eCOMM.Models.Account.LoginModel
@{
    ViewBag.Title = "Sign In";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div class="app signin usersession">
    <div class="session-wrapper">
        <div class="page-height-o row-equal align-middle">
            <div class="column">
                <div class="card bg-white no-border">
                    <div class="card-block">
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "loginForm", @class = "form-layout" }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="text-center m-b">
                                <h4 class="text-uppercase">Welcome back</h4>
                                <p>Please sign in to your account</p>
                            </div>
                            <div class="text-danger">
                                @Html.ValidationSummary(true)
                            </div>
                            <div class="form-inputs">
                                <label class="text-uppercase">YOUR EMAIL ADDRESS</label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg", placeholder = "Email" })
                                <label class="error text-center">@Html.ValidationMessageFor(model => model.Email)</label>
                                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "text-uppercase" })
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control input-lg", placeholder = "********" })
                                <label class="error text-center">@Html.ValidationMessageFor(model => model.Password)</label>
                            </div>
                            <button class="btn btn-primary btn-block btn-lg m-b" type="submit">Login</button>
                            <div class="divider">
                                <span>OR</span>
                            </div>
                            <a class="btn btn-block no-bg btn-lg m-b" href="/Account/Register">Signup</a>
                            <p class="text-center">
                                <small>
                                    <em>By clicking Log in you agree to our <a href="#">terms and conditions</a></em>
                                </small>
                            </p>
                        }
                    </div>
                    <a href="@Url.Action("ForgotPassword", "Account")" class="bottom-link">Forgotten password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
