﻿@model eCOMM.Models.Account.ProfileModel

@{
    ViewBag.Title = "Profile";
}

<div class="page-title">
    <div class="title">@Html.DisplayFor(model => model.FirstName)&nbsp;@Html.DisplayFor(model => model.LastName)</div>
    <div class="sub-title">Edit Profile</div>
</div>

<div class="card bg-white no-border">
    <div class="card-block">
        <div class="row m-a-0">
            <div class="col-lg-12">
                @using (Html.BeginForm("Profile", "Account", FormMethod.Post, new { id = "profileForm", @enctype = "multipart/form-data", @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.PhysicalFileName)
                    @Html.HiddenFor(model => model.IsSuccess)

                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control", placeholder = "Title" })
                                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                    @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", placeholder = "Phone" })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.MobilePhone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.MobilePhone, new { @class = "form-control", placeholder = "Mobile Phone" })
                                    @Html.ValidationMessageFor(model => model.MobilePhone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.HomePhone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.HomePhone, new { @class = "form-control", placeholder = "Home Phone" })
                                    @Html.ValidationMessageFor(model => model.HomePhone, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", placeholder = "Fax" })
                                    @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @*<label class="control-label col-md-2"></label>
                                <div class="col-md-10">
                                    <label for="ReceiveUpdates">
                                        @Html.CheckBox("ReceiveUpdates", Model.ReceiveUpdates.GetValueOrDefault())
                                        Receive Updates
                                    </label>
                                </div>*@
                                <label class="control-label col-md-2"></label>
                                <div class="cs-checkbox m-b col-md-10">
                                    @*@Html.CheckBox("ReceiveUpdates", Model.ReceiveUpdates.GetValueOrDefault())*@
                                    <input type="checkbox" id="ReceiveUpdates" name="ReceiveUpdates" value="true" @(Model.ReceiveUpdates.GetValueOrDefault() ? "checked='checked'" : "")) />
                                    <label for="ReceiveUpdates">Receive Updates</label>
                                </div>
                            </div>
                            

                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="control-label col-md-2"></label>
                                <div class="col-md-10 b-a">
                                    <img id="profileImage"
                                         class="img-responsive" style="margin:auto;height:200px;" alt="Upload an Image" 
                                         src="@(!string.IsNullOrEmpty(Model.PhysicalFileName) ? "/Files/Images/" + Model.PhysicalFileName : "/Content/images/avatar.jpg")" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="upload" class="control-label col-md-2">Image</label>
                                <div class="input-group col-md-10">
                                    <span class="input-group-btn">
                                        <button class="btn btn-dark" type="button" id="uploadBtn">Upload</button>
                                    </span>
                                    @Html.TextBoxFor(model => model.FileName, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                                <input class="hidden" type="file" name="file" id="file" accept="image/*" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr class="clearfix" />
                            <input type="submit" value="Save Changes" class="btn btn-primary" />
                            @Html.ActionLink("Cancel","Index", "Account", new { @class = "btn btn-default" })
                            @Html.ActionLink("Change Password", "ChangePassword", "Account", new { id = Model.Id },  new { @class = "btn btn-success pull-right" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Scripts/Account/profile.js"></script>
}
<script>
    $(document).ready(function () {
        var isSuccess = $('#IsSuccess').val();
        if (isSuccess === 'True') {
            swal({
                title: "Success!",
                text: "Profile successfully updated!",
                type: "success"
            },
            function () {
                window.location.href = "@Url.Action("Index", "Home")";
            });
        }
    });
</script>