﻿@model eCOMM.Models.Account.RegistrationModel

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}
<div class="app signup usersession">
    <div class="session-wrapper">
        <div class="page-height-o row-equal align-middle">
            <div class="column">
                <div class="card bg-white no-border">
                    <div class="card-block">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { id = "registerForm", @class = "form-layout" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.IsSuccess)
                            <div class="text-center m-b">
                                <h4 class="text-uppercase">Register Now</h4>
                                <p>Join a growing community.</p>
                            </div>
                            <div class="form-inputs">
                                <div class="name">
                                    <label class="text-uppercase">Name</label>
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control input-lg first", placeholder = "First", required = "required" })
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control input-lg", placeholder = "Last", required = "required" })
                                    @*<input type="text" class="form-control input-lg first" placeholder="First" required>*@
                                    @*<input type="text" class="form-control input-lg" placeholder="Last" required>*@
                                </div>
                                <label class="text-uppercase">Your current email address</label>
                                @*<input type="email" class="form-control input-lg" placeholder="Email address" required>*@
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control input-lg", placeholder = "Email", required = "required", type = "email" })
                                <label class="text-uppercase">Phone</label>
                                @*<input type="text" class="form-control input-lg" placeholder="Phone" required>*@
                                @Html.TextBoxFor(model => model.Phone, new { @class = "form-control input-lg", placeholder = "Phone", required = "required", type = "phone" })
                                <label class="text-uppercase">Create a password</label>
                                @*<input type="password" class="form-control input-lg" placeholder="Password" required>*@
                                @Html.PasswordFor(model => model.Password, new { @class = "form-control input-lg", placeholder = "Password", required = "required", type = "password" })
                                <label class="text-uppercase">Confirm your password</label>
                                @*<input type="password" class="form-control input-lg" placeholder="Confirm password" required>*@
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "Confirm Password", required = "required", type = "password" })
                            </div>
                            <button class="btn btn-primary btn-block btn-lg m-b" type="submit">Create Account</button>
                            <p class="text-center">
                                <small><em>By clicking Create account you agree to our <a href="#">terms and conditions</a></em></small>
                            </p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        console.log("I am called!");
        var isSuccess = $('#IsSuccess').val();
        if (isSuccess === 'True') {
            swal({
                title: "Success!",
                text: "Email verification sent!",
                type: "success"
            },
            function () {
                window.location.href = "@Url.Action("Login", "Account")";
            });
        }
    });
</script>