﻿@model eCOMM.Models.Person.PersonModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Person Detail</h2>
<form>
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", disabled="disabled"})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", disabled="disabled"})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Age)
        @Html.TextBoxFor(model => model.Age, new { @class = "form-control", disabled="disabled"})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CreatedBy)
        @Html.TextBoxFor(model => model.CreatedBy, new { @class = "form-control", disabled="disabled"})
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CreatedDate)
        @Html.TextBoxFor(model => model.CreatedDate, new { @class = "form-control", disabled="disabled"}) 
    </div>
</form>

