﻿@model eCOMM.Models.Person.PersonModel
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Update Person</h2>

@using (Html.BeginForm("Edit", "Person", FormMethod.Post, new {id = "createForm", enctype="multipart/form-data"}))
{
    @Html.HiddenFor(model=>model.Id)
    <div class="form-group">
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName, new { @class ="form-control", placeholder = "First Name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName, new { @class ="form-control", placeholder = "Last Name" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Age)
        @Html.TextBoxFor(model => model.Age, new { @class ="form-control", placeholder = "Age" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    @Html.ActionLink("Cancel", "Index", "Person", new { @class ="btn btn-primary"})
}