﻿@model IEnumerable<eCOMM.Models.Person.PersonModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <h2>Person List</h2>
  @Html.ActionLink("Create Person", "Create", "Person", new { @class ="btn btn-primary"})
  <table class="table">
    <thead>
      <tr>
        <th>Person Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var person in Model)
      { 
        <tr>
            <td>@Html.ActionLink(@person.Id.ToString(), "Detail", "Person", new {id = @person.Id}, null)</td>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.Age</td>
            <td>@Html.ActionLink("edit", "Edit", "Person", new {id = @person.Id}, null)</td>
            <td>@Html.ActionLink("delete", "Delete", "Person", new {id = @person.Id}, null)</td>
        </tr>
      }
    </tbody>
  </table>
</div>


