﻿@model eCOMM.Models.Option.OptionModel
@using eCOMM.Helpers
@{
    ViewBag.Title = "Options";
}

<div class="page-title">
    <div class="title">Options</div>
    <div class="sub-title">Create Option</div>
</div>

<div class="card bg-white no-border">
    <div class="card-block">
        <div class="row m-a-0">
            <div class="col-lg-12">
                @using (Html.BeginForm("Create", "Option", FormMethod.Post, new { @class = "form form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="col-lg-6">
                            <h4 class="card-title m-b-md">Option Details</h4>
                            <div class="form-group">
                                @Html.LabelFor(model => model.OptionName, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.OptionName, new { @class = "form-control", placeholder = "Option Name" })
                                    <small class="help-block font-sm">Used internally</small>
                                    @Html.ValidationMessageFor(model => model.OptionName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3">
                                    @Html.DisplayNameFor(model => model.DisplayName)<br />
                                    <small class="text-muted">(optional)</small>
                                </label>
                                <div class="col-md-9">
                                    @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control", placeholder = "Display Name" })
                                    <small class="help-block font-sm">Visible by customers</small>
                                    @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DisplayTypeID, htmlAttributes: new { @class = "control-label col-md-3" })
                                <div class="col-md-9">
                                    @Html.CustomDropdownListFor(model => model.DisplayTypeID, Model.DisplayTypes, null, "", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DisplayTypeID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h4 class="card-title m-b-md">
                                Option Values
                                <button type="button" class="btn btn-success pull-right MultipleChoice Color add">Add</button>
                            </h4>
                            <div class="options">
                                <div class="TextField type-option">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Default Value</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="NumberField type-option">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Default Value</label>
                                        <div class="col-md-9">
                                            <input type="number" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="Checkbox type-option">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">Default Checked</label>
                                        <div class="col-md-9">
                                            @Html.DropDownListFor(model => model.DefaultChecked, Dropdowns.YesNo, "", new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="MultipleChoice type-option">
                                    <div class="row cursor-move hidden item">
                                        <div class="col-md-12">
                                            <div class="col-xs-1 text-right m-t-5">
                                                <i class="fa fa-arrows-v"></i>
                                            </div>
                                            <div class="col-xs-5 col-md-6 col-lg-7">
                                                <input type="text" class="form-control" />
                                            </div>
                                            <div class="col-xs-5 col-md-4 col-lg-3">
                                                <input class="to-labelauty-icon" type="radio" />
                                                Make&nbsp;default
                                            </div>
                                            <div class="col-xs-1 text-right m-t-3">
                                                <span class="remove" style="cursor:pointer">
                                                    <i class="fa fa-remove fa-2x"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="Color type-option">
                                    <div class="row cursor-move hidden item">
                                        <div class="col-md-12">
                                            <div class="col-xs-1 text-right m-t-5">
                                                <i class="fa fa-arrows-v"></i>
                                            </div>
                                            <div class="col-xs-5 col-md-6 col-lg-7">
                                                <div class="input-group color-picker col-md-6 pull-left">
                                                    <input type="text" class="form-control" />
                                                    <span class="input-group-addon no-bg"><i></i></span>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-xs-5 col-md-4 col-lg-3">
                                                <input class="to-labelauty-icon" type="radio" />
                                                Make&nbsp;default
                                            </div>
                                            <div class="col-xs-1 text-right m-t-3">
                                                <span class="remove" style="cursor:pointer">
                                                    <i class="fa fa-remove fa-2x"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr class="clearfix" />
                            <input type="submit" value="Save Changes" class="btn btn-primary" />
                            @Html.ActionLink("Cancel", "Index", "Option", new { @class = "btn btn-default" })
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link href="~/Scripts/vendor/jquery-labelauty/source/jquery-labelauty.css" rel="stylesheet" />
    <link href="~/Scripts/vendor/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/Scripts/vendor/jquery-labelauty/source/jquery-labelauty.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/Scripts/vendor/mjolnic-bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    <script src="~/Scripts/Option/option-edit.js"></script>
}