﻿@{ 
    ViewBag.Title = "Options";
}

<div class="page-title">
    <div class="title">Options</div>
</div>

@Html.ActionLink("Add", "Create", "Option", null, new { @class = "btn btn-success m-b" })

<div class="card bg-white no-border">
        
    <div class="card-block">
            
        <div class="row m-a-0">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-bordered table-condensed datatable m-b-0">
                        <thead>
                            <tr>
                                <th>Option Name</th>
                                <th>Display Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link href="~/Scripts/vendor/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}

@section Scripts
{
    <script src="~/Scripts/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/vendor/datatables/media/js/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Option/option.js"></script>
}
