﻿select.form-control{
    width: 100% !important;
}

.cursor-move {
    cursor: move !important;
}

.m-t-1{ margin-top:1px; }
.m-t-2{ margin-top:2px; }
.m-t-3{ margin-top:3px; }
.m-t-4{ margin-top:4px; }
.m-t-5{ margin-top:5px; }